.container {
  background-color: #f2f2f2;
}

.naslov {
  font-size: 50px;
  font-family: sans-serif;
}

.row {
  margin-top: 15px;
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
}

.l {
  text-decoration: none;
  color: grey;
  font-size: 14px;
  margin-right: 15px;
}

.vertical {
  vertical-align: middle;
  display: inline-block;
}


.col-md-10{
  border: 1px solid grey;
  display: inline-block;
  font-size: 20px;

}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.nudimo {
  margin-top: 20px;
  border-top: 1px solid grey;
  margin-bottom: 10px;

}

.okno1{
  display: inline-block;
}
 .btn {
   margin-top: 1px;
   float: right;
   height: 27px;
   vertical-align: middle;
   color: white;
   padding: 0px 15px;
 }

 button > a {
   vertical-align: top;
   color: white;
   margin: auto;
 }

.slikaNudimo {
  margin: 7px 0px;
  width: 100%;
}


@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -300%; }
}
* {
  box-sizing: border-box;
}
body, figure {
  margin: 0; background: #101010;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery {
  margin-top: 15px;
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 15s slidy infinite;
}
figure.slider figure {
  width: 20%; height: auto;
  display: inline-block;  position: inherit;
}
figure.slider img
 { width: 100%;
    height: auto; }

figure.slider figure figcaption {
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.0);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem;
}

.row2 {
  margin-top: 50px;
  
}
